//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$font-primary: Poppins;

//variables de colores
$black: #181818;
$black-light: #1E1E1E;
$blue: #4452FE;
$black-dark: #000000;
$silver: #5C5C5C;
$white: #FFFFFF;

